apiVersion: apps/v1
kind: Deployment
metadata:
  name: gpu-capacity-exporter
  namespace: gpu-capacity-exporter
  labels:
    app: gpu-capacity-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gpu-capacity-exporter
  template:
    metadata:
      labels:
        app: gpu-capacity-exporter
    spec:
      serviceAccountName: gpu-capacity-exporter
      containers:
      - name: gpu-capacity-exporter
        image: vikipranata/gpu-capacity-exporter:1.0.0
        imagePullPolicy: Always
        ports:
        - containerPort: 9100
        livenessProbe:
          httpGet:
            path: /metrics
            port: 9100
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /metrics
            port: 9100
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          requests:
            memory: "128Mi"
            cpu: "250m"
          limits:
            memory: "256Mi"
            cpu: "500m"