apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    release: prometheus
  name: gpu-capacity-rules
  namespace: monitoring
spec:
  groups:
  - interval: 1s
    name: gpu_availability
    rules:
    - expr: kubevirt_gpu_total_cluster_capacity
      record: gpu:total_cluster
    - expr: kubevirt_gpu_capacity
      record: gpu:total_per_node
    - expr: kubevirt_gpu_reserved
      record: gpu:used_per_node
    - expr: kubevirt_gpu_free
      record: gpu:available_per_node
    - expr: |
        (gpu:used_per_node / gpu:total_per_node) * 100
      record: gpu:utilization_percent
  - interval: 30s
    name: gpu_alerts
    rules:
    - alert: NoGPUAvailable
      annotations:
        description: All GPUs are allocated on {{ $labels.Hostname }}
        summary: No GPU available on {{ $labels.Hostname }}
      expr: gpu:available_per_node == 0
      for: 5m
      labels:
        severity: critical
